.jing {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;
}
.jing img {
  width: 100%;
}
.grey {
  position: fixed;
  top: 0;
  height: 120px;
  z-index: 21;
  background: black;
  opacity: 0.3;
  left: 0;
  width: 100%;
}
.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  width: 95%;
  padding: 20px 10px 0;
}
.head .monopoly {
  width: 55%;
}
.head .monopoly img {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin-right: 10px;
}
.head .monopoly h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
}
.head .monopoly a {
  color: #fff;
  line-height: 20px;
}
.head .monopoly span {
  width: 10px;
  height: 10px;
  margin: 0 1px;
  display: inline-block;
  background: url(../../img/details/xing.png) no-repeat;
  background-position: 10px 0;
  background-size: 20px 20px;
}
.head .Collection {
  width: 20%;
}
.head .Collection span {
  text-align: center;
  width: 100%;
  background: #e93b3d;
  color: white;
  line-height: 32px;
  border-radius: 20px;
}
.head .menu {
  width: 20px;
  margin-left: 10px;
  height: 20px;
}
.head .menu span {
  display: block;
  height: 20px;
  margin-top: 5px;
  background: url(../../img/sigin/bclass.png) no-repeat;
  background-size: 20px 20px;
}
.head .data {
  width: 100%;
  margin-top: 20px;
}
.head .data > button {
  padding: 0 10px;
  line-height: 24px;
  background: #ccc;
  border-radius: 10px;
  margin-right: 10px;
}
.head .data div {
  width: 60%;
  display: flex;
}
.head .data div button {
  flex: 1;
  color: white;
  line-height: 24px;
}
.head .data div .active {
  border-bottom: 2px solid white;
}
